[submodule "ThirdParty/DiligentCore"]
	path = ThirdParty/DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
